*{
  box-sizing: border-box;
}

body{
  background-color: #f5f5f5;
  color: #333;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: #c09f53;
  text-decoration: none;
  display: inline-block;
  padding: 0.5rem .2rem;
  font-size: 1rem;
}

.footer a{
  margin: 0 0.5rem;
  padding: 0.5rem 1rem;
}

.index {
  min-height: 80vh;
  width: 100%;
  text-align: center;
}

.heading,
.text {
  padding: 0;
  margin: 0;
}

.heading{
  font-size: 2rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  color: #c09f53;
  padding: 1rem;
  margin: 0;
}

.logoLink{
  display: block;
  position: relative;
  width: max-content;
  height: max-content;
  margin-inline: auto;
  padding: 15px;
}

.comingSoon{
  font-size: 0.8rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  color: #c09f53;
  padding: 0.5rem 1rem;
  margin: 0;
  background-color: #c09f53;
  color: #fff;
  position: absolute;
  top: 0;
  right: 0;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

.logoImage {
  width: 600px;
  padding: 15px;
  height: auto;
}

.footerLogoImage{
  width: 400px;
  height: auto;
  margin: auto;
  padding: 15px;
  display: block;
}

.loginLogoImage {
  width: 500px;
  padding: 15px;
  height: auto;
  margin: auto;
}

.appScreenImageButton {
  display: block;
  padding: 0;
  border: none;
  background: none;
  cursor: pointer;
  margin: 0 auto;
}

.featuresImage{
  width: 550px;
  margin: auto;
  display: block;
}

.text {
  font-size: 1.2rem;
  padding-bottom: 2rem;
}

.content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  max-width: 80rem;
  margin: 0 auto;
  padding: 1rem;
  place-content: center;
  place-items: center;
}

.form {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  gap: 1rem;
  padding: 2rem;
  background-color: #ffffff;
  box-shadow: 0 0 14px -2px rgba(0, 0, 0, 0.3);
  width: 100%;
  max-width: 80rem;
  margin: 0 auto;
  border-radius: 0.5rem;
}

.label {
  display: grid;
  gap: 0.2rem;
  max-width: 30rem;
  text-align: left;
  font-size: 1rem;
  width: 79%;
}

.helpText{
  font-size: 0.8rem;
  font-weight: 600;
  color: #666;
}

.errorText{
  font-size: 0.8rem;
  font-weight: 600;
  color: rgb(148, 45, 45);
}

.input {
  padding: 0.4rem;
  border: 1px solid #ccc;
  border-radius: 0.2rem;
  font-size: 1rem;
  width: 100%;
}

.input.error {
  border: 1px solid rgb(148, 45, 45);
}

.input:disabled::placeholder {
  color: #ccc;
  content: "We are working on it...";
  display: block;
  text-align: center;
  font-size: 0.8rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  color: #ccc;
  padding: 0.4rem;
}

.button {
  padding: .4rem 1rem;
  background-color: #c09f53;
  color: #fff;
  border: none;
  border-radius: 0.2rem;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.1rem;

}

.list {
  list-style: none;
  padding: 0;
  padding-block: 3rem;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.list > li {
  max-width: 20rem;
  text-align: left;
  text-align: center;
}

.footer {
  background-color: #fff;
  padding: 1rem;
  margin-top: 2rem;
  text-align: center;
  font-size: 0.8rem;
  color: #666;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  width: 100%;
  margin: 0 auto;
}

.footerLinks{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.clientLogos{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  max-width: 80rem;
  margin: 4rem auto;
  padding: 4rem 0;
}

.clientLogo{
  width: 100px;
  height: auto;
  margin: 0 auto;
}

.largerLogo{
  width: 150px;
}

.stats{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding: 5rem 0;
  background-color: #202020;
  background-image: url(https://static.wingify.com/gcp/wp-content/themes/vwo/images/new-website/vwo-ai-capabilities/banner-pattern.png), url(https://static.wingify.com/gcp/wp-content/themes/vwo/images/new-website/vwo-ai-capabilities/ai-banner-gradient-1-updated.png);
  background-position: 0 0, 50% 0;
  background-repeat: repeat, no-repeat;
  background-size: 200px, 1600px;
}

.stat{
  text-align: center;
  max-width: 20rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}
.statNumber{
  font-size: 2rem;
  font-weight: 600;
  color: #c09f53;
}

.statLabel{
  font-size: 1rem;
  font-weight: 600;
  color: #ffffff;
}
.statDescription{
  font-size: 0.8rem;
  font-weight: 600;
  color: #c09f53;
}

@media only screen and (max-width: 50rem) {
  .list {
    display: block;
  }

  .list > li {
    padding-bottom: 1rem;
    margin-inline: auto;
  }
  .content {
    grid-template-columns: 1fr;
    display: block;
    height: 100%;
  }

  .form{
    justify-content: center;
    flex-direction: column;
  }

  .featuresImage{
    width: 100%;
    margin: auto;
  }

  .logoImage{
    width: 100%;
    margin: auto;
  }

  .logoLink{
    width: 100%;
  }

  .comingSoon{
    right: 10px;
  }

  .clientLogos{
    gap: 6px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
  }
  header{
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
    background-color: #fff;
    border-bottom: 1px solid #ccc;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }

  .appScreen{
    margin-top: 2rem;
  }

  .appScreenVideo{
    width: 100%;
    height: 250px;
  }

  .label, .button{
    width: 100%;
  }

  .stats{
    gap: 1rem;
  }

  .footer a{
    padding: 0;
    margin: 0;
  }

  .footerLogoImage{
    width: 300px;
  }
}
